{% extends "reviews/byyear.html" %}
{% block content_2019 %}
	<div id="content" class="site-body">
		<ul class = "poster-list">
			<li class="list-img"><a href="/movie_detail/34/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BNzJiM2ZmMTUtZmMxNC00MmNlLTg5MWQtZTA0MjFlMmVlM2IxXkEyXkFqcGdeQXVyODc0OTEyNDU@._V1_.jpg" alt="The Gentlemen" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/35/" class="nav-link"><img src="https://www.joblo.com/assets/images/joblo/news/2019/05/D6DL219W4AEJK1C.jpg" alt="Midsommar" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/36/" class="nav-link"><img src="https://wallpapercave.com/wp/wp5127859.jpg" alt="1917" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/37/" class="nav-link"><img src="https://www.movienewsletters.net/photos/277157R1.jpg" alt="Hustlers" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/38/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BMWZkNzNlMzMtMjM5ZS00MWYzLWFmMmUtMjE1ODM3NjBlODA5XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" alt="King" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/39/" class="nav-link"><img src="https://www.joblo.com/assets/images/joblo/news/2018/12/Usdomesticposter.jpg" alt="US" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/40/" class="nav-link"><img src="https://www.joblo.com/assets/images/joblo/posters/2019/09/lighthouse-poster2.jpg" alt="The Lighthouse" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/41/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BZTllZTdlOGEtZTBmMi00MGQ5LWFjN2MtOGEyZTliNGY1MzFiXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_.jpg" alt="Ad Astra" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/42/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BZjlhOWE3YjktY2MzOC00ZmQ1LWIwNjgtZmVhZmFjZGExMzgyXkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_.jpg" alt="Bombshell" class="year-img"></a></li>
			<li class="list-img"><a href="/movie_detail/43/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BMGUyM2ZiZmUtMWY0OC00NTQ4LThkOGUtNjY2NjkzMDJiMWMwXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_.jpg" alt="The Irishman" class="year-img"></a></li>
		</ul>
	</div>
{% endblock content_2019 %}

irishman - 

bombshell - 

ad astra - 

the lighthouse - 

us - 

king - 

hustlers - 

1917 - 


