{% extends "reviews/byyear.html" %}
{% block content_2020 %}
	<div id="content" class="site-body">
		<ul class = "poster-list">
			<li class="list-img"><a href="/movie_detail/44/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BOTU5MDg3OGItZWQ1Ny00ZGVmLTg2YTUtMzBkYzQ1YWIwZjlhXkEyXkFqcGdeQXVyNTAzMTY4MDA@._V1_.jpg" alt="Hereditary" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/45/" class="nav-link"><img src="https://www.joblo.com/newsimages1/venom-poster-6-913.jpg" alt="Venom" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/46/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BOTk5ODg0OTU5M15BMl5BanBnXkFtZTgwMDQ3MDY3NjM@._V1_.jpg" alt="Aquaman" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/47/" class="nav-link"><img src="https://i.redd.it/nn6et0p3tx201.jpg" alt="Ready Player One" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/48/" class="nav-link"><img src="https://images-na.ssl-images-amazon.com/images/I/61VWVPdhfTL._AC_SY606_.jpg" alt="Ocean's 8" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/49/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BZDVkMWJiMzUtNjQyOS00MGVmLWJhYmMtN2IxYzU4MjY3MDRmXkEyXkFqcGdeQXVyNzA5NjIzODk@._V1_.jpg" alt="The Hate U Give" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/50/" class="nav-link"><img src="https://images-na.ssl-images-amazon.com/images/I/A1t8xCe9jwL._AC_SY741_.jpg" alt="Avengers: Infinity War" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/51/" class="nav-link"><img src="https://images-na.ssl-images-amazon.com/images/I/51R-TU6VaTL._AC_.jpg" alt="A Star is Born" class="year-img"></a></li>

			<li class="list-img"><a href="/movie_detail/52/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BMTA2NDc3Njg5NDVeQTJeQWpwZ15BbWU4MDc1NDcxNTUz._V1_.jpg" alt="Bohemian Rhapsody" class="year-img"></a></li>
			
			<li class="list-img"><a href="/movie_detail/53/" class="nav-link"><img src="https://m.media-amazon.com/images/M/MV5BMjAzMTI1MjMyN15BMl5BanBnXkFtZTgwNzU5MTE2NjM@._V1_.jpg" alt="Bird Box" class="year-img"></a></li>			
		</ul>
	</div>
{% endblock content_2020 %}

hereditary - 

venom - 

aquaman - 

ready player one - 

ocean's 8 - 

the hate u give - 

avengers: iw - 

a star is born - 

bohemian rhapsody - 

birdbox - 